<% provide(:title, 'Index Teams') %>

<div class="container">
  <div class="row">
    <h2>Index Team</h2>
    <table>
      <tbody>
        <tr>
          <% @teams.each do |team| %>
            <td><%= team.name %></td>
          <% end %>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="row">
    <%= link_to "Create Team", new_team_path %>
  </div>
</div>
