<% if @user.errors.any? %>
  <div id="error_explanation">
    <div class="card red darken-1">
      <div class="card-content white-text">
        <ul>
        <% @user.errors.full_messages.uniq.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  </div>
<% end %>
