<% unless flash.empty? %>
  <div id="alert-messages">
    <% flash.each do |type, messages| %>
      <%
        color = case type
          when "notice" then "green"
          when "alert" then "red"
        end
      %>
      <% messages.split("\n").each do |message| %>
        <script>
          M.toast({
            html: "<%= message %>",
            classes: "<%= color %>",
            displayLength: "stay"
          })
        </script>
      <% end %>
    </div>
  <% end %>
<% end %>
